<h1 style='text-align: center; font-size: 7em;'><%= @league_name %></h1>
<div style='display: flex; justify-content: center; gap: 5rem;'>
  <div>
    <h1 style='text-align: center;'>Teams</h1>
    <% @teams.each do |team| %>
      <div style='text-align: center;'>
        <%= link_to "#{team['team']['name']}", team_path(team_id: team['team']['id'], team_name: team['team']['name']), style:'text-decoration: none; font-size: 1.5em; color: black;' %>
      </div>
    <% end %>
  </div>

  <div>
    <h1 style='text-align: center;'>Matches</h1>
    <div>
      <% @matches.first(10).each do |match| %>
        <div style='padding: .5rem; text-align: center'>
          <div style='font-size: 1.2em;'>
            <%= match['teams']['home']['name'] %>
            -
            <%= match['teams']['away']['name'] %>
          </div>
          <div>
            <%= Date.parse(match['fixture']['date']).strftime('%d %B %Y') %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
